.loginPage {
    font-size: 1.3rem;
    display: grid;
    place-items: center;
    padding-block: 0.5rem;
    h2 {
        padding: 0;
        margin: 0;
        margin-block-end: 1.5rem;
    }
}
.loginForm {
    display: grid;
    text-align: center;
    width: 100%;
    input {
        border: 0;
        text-align: center;
        border-radius: 0.5rem;
        width: 90%;
        max-width: 30rem;
        min-height: 2.5rem;
        justify-self: center;
        background-color: var(--primary-color);
        color: var(--text-color);
        &::placeholder {
            font-family: "Roboto Condensed", sans-serif;
            color: var(--text-color);
        }
    }
    label {
        font-weight: bold;
        &:not(:first-child) {
            margin-block-start: 1rem;
        }
        margin-block-end: 0.2rem;
    }
}
.loginPassword {
    display: flex;
    flex-direction: column;
    a {
        text-decoration: none;
        color: var(--clickable-color);
        &:hover {
            color: var(--clickable-color-hover);
        }
    }
}
.register {
    display: grid;
    h2 {
        padding: 0;
        margin: 0;
    }
}
