.container {
    display: grid;
    grid-template-rows: min-content 1fr max-content;
    height: 100%;
    h1 {
        text-align: center;
        margin-block-start: 0.5rem;
        height: min-content;
        span {
            color: var(--clickable-color);
        }
    }
}

.expressionsList {
    display: grid;
    justify-items: center;
    align-items: start;
    row-gap: 2dvh;
    grid-template-rows: repeat(min-content);
    h2 {
        padding: 0;
        margin: 0.5rem;
    }
}

.none {
    display: flex;
    height: 100%;
    min-height: 10rem;
    justify-content: center;
    align-items: center;
}
