.container {
    display: grid;
    grid-template-rows: 1fr max-content;
    height: 100%;
}

.expressionsList {
    display: grid;
    justify-items: center;
    align-items: start;
    row-gap: 2dvh;
    grid-template-rows: repeat(min-content);
}

.none {
    display: flex;
    height: 100%;
    min-height: 10rem;
    justify-content: center;
    align-items: center;
}
